.idea
drivers
.settings
.vscode
logs
target
reports
screenshots
.scannerwork
.classpath
.factorypath
.project
.gitignore.swp
reportBDD
ci/temp/
ci/debug/
**/.DS_Store
**/*.iml
/src/main/resources/gg-auth.json
/src/main/resources/credentials.json
tokens
debug
images/temp
.env